@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gasoek+One&display=swap');

#space {
  -fx-fill: #EEEEEE;
}

#autoApplyButton, #immigrationButton, #foreignerButton, #homeButton, #menu {
  -fx-font-family: 'Do Hyeon', sans-serif;
  -fx-font-size: 15px;
  -fx-background-color: #C68484;
  -fx-text-fill: white;
}