@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gasoek+One&display=swap');

/*기본배경*/
#pane {
  -fx-background-color: white;
}

/*radio버튼*/
.radio-button {
  -fx-font-family: 'Do Hyeon', sans-serif;
  -fx-background-color: white;
  -fx-text-fill: #333333;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

.radio-button .radio {
  /*래디오 버튼 원 내부 설정*/
  -fx-background-color: rgba(249, 235, 235, 0.89);
}

/*조회 텍스트 부분*/
#searchField {
  -fx-font-family: 'Do Hyeon', sans-serif;
  -fx-text-fill: #000000;
  -fx-prompt-text-fill: #6e6e6e;
  -fx-border-color: #C68484;
}

#searchField:focused {
  -fx-border-color: #C68484;
  -fx-border-width: 2px;
}

/*조회버튼*/
#searchButton {
  -fx-font-family: 'Do Hyeon', sans-serif;
  -fx-background-color: #C68484;
}

#searchButton:hover,
#searchButton:selected {
  -fx-background-color: #9B4444;
}

/*달력부분*/

/*달력표시부*/
.date-picker {
  -fx-font-family: 'Do Hyeon', sans-serif;
  -fx-background-color: #C68484; /* 기본 배경색 */
}

.date-picker .text-field {
  -fx-font-family: 'Do Hyeon', sans-serif;
  -fx-background-color: white;
  -fx-text-fill: #000000;
  -fx-font-size: 11px;
}

/*달력버튼*/
.date-picker .arrow-button {
  -fx-background-color: rgba(249, 235, 235, 0.89);
}

.date-picker .arrow-button:hover {
  -fx-background-color: #C68484;
}

.date-picker .arrow {
  -fx-background-color: #9B4444;
}


/* DatePicker 팝업 스타일 */
.date-picker-popup {
  -fx-background-color: #C68484;
}

/* 캘린더 월, 연도 선택 화살표 스타일 */
.date-picker-popup .spinner .left-arrow, .left-arrow,
.date-picker-popup .spinner .right-arrow {
  -fx-background-color: #C68484;
}

/*달력 요일부*/
.date-picker-popup .day-name-cell {
  -fx-background-color: #C68484;
  -fx-text-fill: white;
}

/* 캘린더 날짜 셀 스타일 */
.date-picker-popup .day-cell {
  -fx-font-family: 'Do Hyeon', sans-serif;
  -fx-text-fill: #6e6e6e;
}

.date-picker-popup .day-cell:hover,
.date-picker-popup .day-cell:selected,
.date-picker-popup .day-cell:focused {
  -fx-background-color: #A3C9AA;
  -fx-text-fill: black;
}

/*테이블*/
.table-view {
  -fx-font-family: 'Do Hyeon', sans-serif;
  -fx-background-color: rgba(249, 235, 235, 0.89);
  -fx-border-color: #C68484;
}

/*테이블 헤더*/
.table-view .column-header {
  -fx-font-family: 'Do Hyeon', sans-serif;
  -fx-background-color: #C68484; /* 헤더 배경색 */
}

.table-view .column-header .label {
  -fx-text-fill: white; /* 헤더 텍스트 색상 */
  -fx-font-size: 14px;
  -fx-font-weight: bold; /* 헤더 텍스트 굵기 */
}

/*테이블 내부*/
.table-row-cell:even {
  -fx-background-color: rgba(249, 235, 235, 0.89);
}

.table-view :selected {
  -fx-background-color: #C68484;
}