/* styles.css */
.root {
  -fx-background-color: #f0f0f0;
  -fx-pref-height: 3000;
}

.radio-button {
  -fx-pref-height: 13px;
  -fx-font-size: 13px;
  -fx-margin: 0;
}

.space {
  -fx-pref-height: 250px;
  -fx-margin: 5px
}

.date-picker {
  -fx-pref-height: 30px; /* 높이 설정 */
  -fx-font-size: 13px;
  -fx-margin: 0;
  -fx-padding: 0;
}

.date-picker .arrow {
  -fx-background-color: #000000;
}

.date-picker .text-field {
  -fx-background-color: #ffffff;
  -fx-border-color: #cccccc;
  -fx-border-width: 1px;
}


.filter {
  -fx-pref-height: 1800;
  -fx-pref-width: 600;
  -fx-margin: 10px 40px;
}

.table-view {
  -fx-margin: 5px 0 5px 0;
  -fx-padding: 0;
  -fx-pref-width: 750;
  -fx-pref-height: 1800;
}

.table-view .column-header-background .label {
  -fx-font-size: 13px;
  -fx-font-weight: normal;
  -fx-text-fill: #333333;
}

.table-view .table-row-cell {
  -fx-font-size: 13px;
  -fx-pref-height: 25px;
  -fx-font-weight: normal;
  -fx-text-fill: #000000;
}

.table {
  -fx-pref-width: 1200;
  -fx-pref-height: 1800;
}


.label {
  -fx-font-size: 13px;
  -fx-text-fill: #333333;
  -fx-pref-width: 150;
  -fx-margin: 0;
}

.pagination {
  -fx-page-information-visible: true;
  -fx-alignment: center; /* 페이지 정보와 버튼을 가운데 정렬 */
  -fx-margin: 5px 0 5px 0;
  -fx-padding: 0;
}

.pagination .page-arrow,
.pagination .page-number {
  -fx-alignment: center; /* 페이지 버튼 및 페이지 번호 가운데 정렬 */
  -fx-cell-size: 10px;
  -fx-margin: 0;
  -fx-padding: 0;
}

.pagination .page-information {
  -fx-text-align: center; /* 페이지 정보 텍스트 가운데 정렬 */
  -fx-font-size: 10px;
  -fx-margin: 1px 0px 0px 0px;
  -fx-padding: 0;
}