@font-face {
  font-family: 'Do Hyeon';
  src: url('../fonts/DoHyeon-Regular.ttf');
}

* {
  -fx-font-family: 'Do Hyeon', sans-serif;
  /*-fx-font-size: 13px;*/
}

.menu, .menu-item, .button {
  -fx-font-size: 15px;
}

.menu-bar, .menu-item, .user-main-button, .image-background, #top {
  -fx-background-color: #C68484;
}

.menu:hover, .menu:showing, .menu-item:hover, .user-main-button:hover {
  -fx-background-color: #9B4444;
  -fx-text-fill: white;
}

.admin-button {
  -fx-background-color: #C68484;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
}

.admin-button:hover {
  -fx-background-color: #9B4444;
  -fx-text-fill: white;
}
