#table-view .column-header-background {
    -fx-background-color: #C68484; /* 헤더 배경 색상 */
}

#table-view .column-header .label {
    -fx-text-fill: black; /* 헤더 텍스트 색상 */
    -fx-font-weight: bold; /* 텍스트 굵게 */
}

.table-row-cell:even {
    -fx-background-color: #C68484; /* 짝수 행 배경 색상 */
}

.table-row-cell:odd {
    -fx-background-color: #FFFFFF; /* 홀수 행 배경 색상 (기본 흰색) */
}
